<mat-card>
  <mat-card-header>
    <mat-card-title>Tárgyak Listája</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="actions-container">
      <button mat-raised-button color="primary" (click)="ujTargy()">
        <mat-icon>add_box</mat-icon> Új Tárgy Hozzáadása
      </button>
    </div>

    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!isLoading && targyak.length === 0" class="no-data-message">
      Nincsenek tárgyak a rendszerben.
    </div>

    <div *ngIf="!isLoading && targyak.length > 0" class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="targyak">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let targy"> {{targy.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nev">
          <th mat-header-cell *matHeaderCellDef> Név </th>
          <td mat-cell *matCellDef="let targy"> {{targy.nev}} </td>
        </ng-container>

        <ng-container matColumnDef="kod">
          <th mat-header-cell *matHeaderCellDef> Kód </th>
          <td mat-cell *matCellDef="let targy"> {{targy.kod}} </td>
        </ng-container>

        <ng-container matColumnDef="kredit">
          <th mat-header-cell *matHeaderCellDef> Kredit </th>
          <td mat-cell *matCellDef="let targy"> {{targy.kredit}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Műveletek </th>
          <td mat-cell *matCellDef="let targy">
            <button mat-icon-button color="primary" aria-label="Tárgy szerkesztése" (click)="editTargy(targy)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Tárgy törlése" (click)="deleteTargy(targy.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>